>/main/base

block title
    | Восстановление пароля

block bread
    li.active Восстановление пароля

block content
    h1 Восстановление пароля
    p Временный пароль был отправлен на введенный электронный адрес.