<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title Document
    script(src="http://it-comps.ru/kit/kit.min.js")
body
    .menu
        a(href="/main/") Main
        a(href="/about/") About
        a(href="/contacts/") Contacts

    view
        
        state(href="/main/" template="/main.html")
            
        state(href="/about/" template="/about.html")
            
        state(href="/contacts/" template="/contacts.html")