.header-block
    padding 30px 20px
    border-bottom 1px dotted #ccc
    margin-bottom 10px
    
    overflow hidden
    
    .logo
        float left
        width left-width
    
    .search
        position relative
        top 10px
        margin-left left-width
        border 1px solid #ddd
        border-radius 10px
        position relative
        background #fff
        
        &-input
            border none
            outline none
            font-family 'Open Sans'
            font-size 16px
            width 95%
            border-radius 10px
            padding 10px 20px
        
        &-button
            max-width 20px
            position absolute
            right 12px
            top 11px
            opacity 0.3
            
            &:hover
                opacity 0.5