.review
    background-color #eee
    padding 15px 20px 20px 20px
    border-radius 10px
    font-size 14px
    margin-bottom 10px
    
    &-name, &-date
        display inline-block
        color #777
        font-size 12px
        margin-bottom 10px
    
    &-name
        margin-right 10px
.add-review-added
    display none