>/main/base

block title
    | Регистрация

block bread
    li.active Регистрация

block content
    h1 Успешная регистрация
    p Вы успешно зарегистрировались и можете войти, используя данные, указаные при регистрации.