>/main/base

block title
    | Отзывы

block bread
    li.active Отзывы

block content
    .reviews-page
        h1 Отзывы о работе интернет-магазина
        include reviews
        h2 Добавить отзыв
        include add-review