body
    padding 30px

h1
    margin 0
    padding 0
    font-size 30px
    margin-bottom 30px

h2
    margin 0
    padding 0
    font-size 20px
    margin-top 50px
    margin-bottom 15px

.nav-block
    width 200px
    float left

.content-block
    margin-left 250px
    
    .btn-group-vertical
        display block
        width 100%
        
        a.btn
            display block
            width 100%

.footer
    margin-top 50px
    color #888
    font-size 13px

.buttons-block
    margin-bottom 20px
    
.btn
    span
        padding-left 5px
        
td.thin, th.thin
    width 1px

.section-title, .offer-title
    font-weight bold

th
    font-weight normal
    color #777
    font-size 12px