>/main/base

block title
    | Интернет-магазин морепродуктов Рыбовъ

block content
    if custom.length
        h2 Популярные товары
        for offer in custom
            include ../../catalog/section/offer
    for section in sections
        if section.offers.length
            h2 #{section.title}
            if section.offers.length
                for offer in section.offers
                    include ../../catalog/section/offer