.header-block
    .container
        .logo
            a(href="/")
                img(src="/img/logo.png")
        .search
            form(action="/search/")
                input(type="text" name="search" placeholder="Поиск по товарам").search-input
                input(type="image" src="/img/search.png").search-button