.section-block
    text-align center
    display inline-block
    height 120px
    width 150px
    margin-right 10px
    margin-bottom 10px
    vertical-align top
    padding 20px
    transition-property box-shadow
    transition-duration 0.3s
    
    .title
        font-size 15px
        font-weight 700
        color accent-color
        text-decoration underline
        line-height 15px
    
    &:hover
        // border 1px #ddd solid
        box-shadow 0 0 20px rgba(0,0,0,0.5)
        
        .title
            color x-color
    
    .image
        img
            max-width 130px

.offer-block
    text-align center
    display inline-block
    height 250px
    width 200px
    margin-right 10px
    margin-bottom 10px
    vertical-align top
    padding 20px
    text-decoration none
    color #000
    
    transition-property box-shadow
    transition-duration 0.3s
    
    &:hover
        // border 1px #ddd solid
        box-shadow 0 0 20px rgba(0,0,0,0.5)
        
        .title
            color x-color
    
    .title
        margin-top 15px
        font-size 15px
        font-weight 700
        color accent-color
        text-decoration underline
        line-height 15px
    
    .image
        padding-top 15px
        img
            max-width 130px
    
    .price
        font-size 20px
        font-weight 700
        text-decoration none
        margin-top 10px
    
    .description
        font-size 14px
        color #777
    
    .unit
        font-size 14px
    
    .price, .unit
        line-height 18px