>/panel/base

block bread
    li: a(href="/panel/pages/") Страницы
    li Добавление страницы

block content
    h1 Добавление страницы
    form(action="" method="post")
        table.table.table-bordered
            tr
                td Заголовок:
                td
                    input(type="text" name="title").form-control
            tr
                td Адрес:
                td
                    input(type="text" name="url").form-control
            tr
                td Содержимое:
                td
                    textarea(name="content").text-editor
        button.btn.btn-success
            i.glyphicon.glyphicon-plus
            span Добавить