.buttons-block
    a:nth-child(2)
        border-radius 0px
    a:first-child
        border-radius 4px 0 0 4px
    a:last-child
        border-radius 0px 4px 4px 0px
    span
        padding-left 10px
    i
        position relative !important
        top 2px !important