>/panel/base

block bread
    li: a(href="/panel/news/") Новости
    li Редактирование новости

block content
    h1 Редактирование новости
    form(action="" method="post")
        table.table.table-bordered
            tr
                td Заголовок:
                td
                    input(type="text" name="title" value=item.title).form-control
            tr
                td Краткое описание:
                td
                    textarea(name="description").form-control= item.description
            tr
                td Содержимое:
                td
                    textarea(name="content").text-editor= item.content
        button.btn.btn-primary
            i.glyphicon.glyphicon-ok
            span Сохранить