accent-color = #0c7082
width = 1300px
left-width = 250px
text-color = #000
light-color = #777
x-color = #FFA700

#include('/main/styles/common.styl')
#include('/main/styles/top.styl')
#include('/main/styles/header.styl')
#include('/main/styles/left.styl')
#include('/main/styles/content.styl')
#include('/main/styles/reviews.styl')
#include('/main/styles/catalog.styl')