.cartpage
    &-offers
        
        box-shadow 0 0 5px rgba(0,0,0,0.5)
        
        border-radius 10px
        padding 15px 20px
        
        table
            font-size 14px
            td:nth-child(1)
                width 100px
            td:nth-child(3)
                width 150px
            td:nth-child(4)
                width 100px
        
        .cart-footer
            
            .total
                background: #ffffff; /* Old browsers */
                background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
                background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
                background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
                box-shadow 0 0 5px rgba(0,0,0,0.5)
                
                border-radius: 5px
                
                padding: 7px 15px 7px 15px
                float: left
                width: 220px
                font-size: 14px
                text-align: center
                
                .amount
                    font-weight: bold
            
            .buttons
                margin-left: 260px
                a
                    box-shadow: 0 0 5px rgba(0,0,0,0.5)
                i
                    position: relative
                    top: 2px
        input
            border 1px #ddd solid
            padding 5px
            border-radius 5px
            width 70px