>/main/base

block title
    | Вход
      
block bread
    li.active Вход

block content
    h1 Вход
    p Ваш аккаунт не активирован. Для активации пожалуйста перейдите по ссылке в письме, высланном на адрес, указанный при регистрации.  