>/main/base

block title
    | Регистрация

block bread
    li.active Регистрация

block content
    h1 Регистрация
    p На указанный Вами электронный адрес было отправлено письмо со ссылкой подтверждения.